/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #1911ae;
  --color-pinky: #f6b0be;
  --color-mint: #06e5a2;
  --color-bg: #fef9f6;
}

html,body,#root{height:100%}

body {
  background-color: var(--color-bg);
  font-family: "Nunito", sans-serif;
}

.button-pill{border-radius:9999px}
.container{max-width:1100px}

h1 {
  font-size: 3rem;
  background-image: radial-gradient(var(--color-pinky) 3px, transparent 1px);
  background-size: 6px 5px;
  font-family: "Barriecito", system-ui;
  padding: 1rem 2rem;
  border-radius: 25px;
  text-decoration-line: none;
  max-width: fit-content;
}

h2 {
  font-family: "Barriecito", system-ui;
  font-size: 2rem;
  background-image: repeating-linear-gradient(
    110deg,
    var(--color-mint) 0,
    var(--color-mint) 2px,
    transparent 2px,
    transparent 6px
  );
  padding: 0.5rem;
  max-width: fit-content;
}

h3 {
  font-family: "Barriecito", system-ui;
  font-size: 1.5rem;
}

div {
  padding: 1rem;
}

:focus{
  outline:3px solid rgba(37,150,190,0.18);
  outline-offset:2px;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titre {
  background-image: repeating-linear-gradient(
    110deg,
    var(--color-mint) 0,
    var(--color-mint) 2px,
    transparent 2px,
    transparent 6px
  );
  color: black;
  font-family: "Barriecito", system-ui;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 25px;
  text-decoration-line: none;
}

.titre:hover {
  color: var(--color-primary);
  background-image: radial-gradient(var(--color-pinky) 3px, transparent 2px);
  background-size: 6px 5px;
  border-color: var(--color-primary);
  border-style: dashed ;
  border-width: 0.3rem;
  padding: 0.7rem;
}